<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.microservice.user_mapper.RoleMapper">

    <sql id="roleColumn">
        role_id as "roleId",
        role_name as "roleName",
        create_user as "createUser",
        create_time as "createTime",
        update_user as "updateUser",
        update_time as "updateTime",
        deleted as "deleted"
    </sql>

    <select id="findRoleList" resultType="com.xh.microservice.user_entity.Role">
        select <include refid="roleColumn"/>
        from base_role
        <where>
            deleted = 0
            <if test="roleName != null and roleName != ''">
                and role_name like '%${roleName}%'
            </if>
        </where>
    </select>

    <select id="listMenuByRoleId" resultType="com.xh.microservice.user_pojo.MenuPojo">
        select bm.menu_id menuId, bm.menu_name menuName
        from role_menu rm left join base_menu bm on rm.menu_id = bm.menu_id
        <where>
            bm.deleted = 0
            <if test="roleId != null and roleId != ''">
                and rm.role_id = #{roleId}
            </if>
        </where>
    </select>
</mapper>