<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xh.microservice.user_mapper.UserMapper">
    <resultMap id="user" type="com.xh.microservice.user_entity.User">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="user_phone" property="userPhone"/>
        <result column="password" property="password"/>
        <result column="role_id" property="roleId"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <sql id="userColumn">
        user_id as "userId",
        user_name as "userName",
        user_phone as "userPhone",
        password as "password",
        role_id as "roleId",
        create_user as "createUser",
        create_time as "createTime",
        update_user as "updateUser",
        update_time as "updateTime",
        deleted as "deleted"
    </sql>


    <select id="findByUsername" parameterType="string" resultType="com.xh.microservice.user_entity.User">
        select <include refid="userColumn"/>
        from base_user
        where user_name = #{userName} and deleted = 0
    </select>

    <select id="findUserList" resultType="com.xh.microservice.user_entity.User">
        select <include refid="userColumn"/>
        from base_user
        <where>
            deleted = 0
            <if test="userName != null and userName != ''">
                and user_name like '%${userName}%'
            </if>
        </where>
    </select>
</mapper>